body {
	width: 100%;
	height:100%;
	margin: 0 auto;	
}

.header-style {
    background-color: black;
    position: fixed;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height:128px;
    z-index: 30;
    
}

.logo-menu {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-between;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}

.logo-menu2 {
    width: 80px;
    height: 80px;
    position: relative;
    box-sizing: border-box;
}

.itens-center {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.menu {
    text-transform: uppercase;
    color:rgb(238, 194, 0);
    margin-left: 32px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: inherit;
    box-sizing: border-box;
    list-style: none;    
}

.main {
    padding-top: 128px;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}

.sobre-mim {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 425px;
    position: relative;
    display: flex;
    background-color: red;
    box-sizing: border-box;
}

.texto1 {
    width: 50%;
}

.img-sobre1 {
    width: 50%;
    display: flex;
    justify-content: center;
}

.tatuagens1 {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 425px;
    position: relative;
    text-align: center;
    display: flex;
    background-color: black;
    box-sizing: border-box;
    
}

.slider {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-items: center;  
}
.slider2 {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    overflow-x: hidden;   
}

.slide {
    perspective: 100px;
}

ul.slider-principal {
    padding: 0px;
    height: 300px;
    margin-bottom: 0px;
}

ul.slick-dots {
    padding: 0px;
    width: 1024px;
    margin-top: 0px;
}

li img:hover {
    transform: translateZ(15px);
    
}

img {

    transition: transform 1s;
}



